{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "@typescript-eslint/no-shadow": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "curly": ["warn", "multi-line", "consistent"],
    "no-shadow": "off",
    "no-undef": "off",
    "no-unused-vars": "off",
    "prefer-const": "warn",
    "prettier/prettier": "warn",
    "semi": "warn"
  }
}
